.btn {
    padding: 6px 36px;
    border-radius: 3px;
    background-color: $grey-4;
    color: $grey-5;
    cursor: pointer;
    &_blue {
        background-color: $blue;
        color: $white;
    }
    & ~.btn {
        margin-left: 36px;
    }
}
