body{
    font-family: $ff;
    font-size: $fs12;
    line-height: $lh16;
    color: $black;
    background-color: $white-2;
}
p{
    font-family: $ffmedium;
    font-size: $fs12;
    line-height: $lh16;
    
}
img {
    width: 100%;
    display: block;
}
.container{
    max-width: 1000px;
    padding: 0 27px;
    margin: 0 auto;
    @media screen and (max-width: 960px) {
        padding: 0 16px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
}
.svg-icons{
    width: 16px;
    height: 16px;
}
.relative{
    position: relative;
}
.mr-4{
    margin-right: 4px;
}
.mt-12{
    margin-top: 12px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px !important;
}
.mb-70{
    margin-bottom: 70px;
}
