.sortable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 211px;
    color: $grey-2;
    font-size: $fs10;
    line-height: $lh14;
    margin-bottom: 15px;
    &__button{
        color: $grey-2;
        border-bottom: 1px dashed $grey-2;
        cursor: pointer;
        &_active{
            color: $black;
            border-bottom: 1px dashed $black;
        }
        &:hover{
            opacity: 0.6;
        }
    }
}
