h1{
    font-family: $ffbold;
    font-size: $fs24;
    line-height: $lh28;    

}
.h1{
    font-family: $ffbold;
    font-size: $fs24;
    line-height: $lh28;
    color: $black;    
}
.text{
    &_xs{
        font-size: $fs10;
        line-height: $lh14;
    }
    &_s{
        font-size: $fs12;
        line-height: $lh16;
    }
    &_medium{
        font-family: $ffmedium;
    }
    &_bold{
        font-family: $ffbold;
    }
}