//* font-famyly
$ff: 'Inter', sans-serif;
$ffmedium: 'Inter Medium', sans-serif;
$ffbold: 'Inter Bold', sans-serif;


//*font-size
$fs10: 10px !important;
$fs12: 12px !important;
$fs24: 24px !important;


//*line-height
$lh14: 14px!important;
$lh16: 16px!important;
$lh28: 28px!important;


//*colors
$black: rgba(51, 51, 51, 1);
$white: rgba(255, 255, 255, 1);
$white-2: rgba(247, 247, 247, 1);
$blue: rgba(12, 180, 241, 1);
$grey: rgba(172, 172, 172, 1);
$grey-2: rgba(158, 170, 180, 1);
$grey-3: rgba(79, 79, 79, 1);
$grey-4: rgba(224, 224, 224, 1);
$grey-5: rgba(130, 130, 130, 1);
